hr {
    margin: 0;
}

p {
    margin:0;
}

.wrapper h1 {
    font-family: sans-serif;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 10%;
}

.wrapper hr{
    border: 5px solid #007ACC;
    background-color: #007ACC;
}

.menu a{
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    margin-right: 25px;
    text-decoration: none;
    text-align: center;
}

.menu {
    background-color: #202124;
    width: 280px;
    padding: 20px;
}

